###################
# IDE Files
###################
*.idea
*.iml
*.ipr
workspace.xml
misc.xml
.idea
.idea/misc.xml

###########################
# NPM Files
###########################
node_modules/

###########################
# component
###########################
/src/components/

.DS_Store
/src/.DS_Store
settings-e2e.html
widget-e2e.html


